

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
}   

a {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #588BAD;
    border-bottom: 2px solid #8d8f9d;
    color:#2C33B3;
    height: 70px;
}

footer {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #588BAD;
    border-top: 2px solid #8d8f9d;
    color:#2C33B3;
    bottom: 0;
    width: 100%;
}

footer>a{
    padding: 15px 20px;
}

footer ul{
    display: block;
    list-style: none;
    font-style: italic;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

footer li{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}











