h1{
    text-align: center;
    color :#2c33b3;
  font-family: 'Lexend Tera';font-size: 40px;}

.bg {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
   width: 17%;   
  height: auto;
}

body{
    background-color: #d7e6f0
}

p{
    font-family: 'Lexend Exa';font-size: 20px;
    margin: 50px;
    text-align: center;
    padding-top: 17%;

}