

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
}   

a {
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #588BAD;
    border-bottom: 2px solid #8d8f9d;
    color:#2C33B3;
    height: 70px;
}

footer {
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #588BAD;
    border-top: 2px solid #8d8f9d;
    color:#2C33B3;
    bottom: 0;
    width: 100%;
}

footer>a{
    padding: 15px 20px;
}

footer ul{
    display: block;
    list-style: none;
    font-style: italic;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

footer li{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

h2{
     position: absolute;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #2c33b3;
  font-family: 'Lexend Tera';
  font-size: 45px;}

.Notre{position: absolute;
  top: 17%;
  left: 32%;
  font-size: 25px;

}

.INSEE{position: absolute;
  top: 20%;
  left: 49%;
  font-size: 25px;
text-decoration: underline;}

.BCE{position: absolute;
  top: 23%;
  left: 49%;
  font-size: 25px;
text-decoration: underline;}

.UE{position: absolute;
  top: 26%;
  left: 46%;
  font-size: 25px;
text-decoration: underline;}


h3{position: absolute;
  top: 35%;
  left: 27%;
  transform: translate(-50%, -50%); 
  color: #2c33b3;
  font-family: 'Lexend Tera';
  font-size: 35px;}

.plus{position: absolute;
  top: 38%;
  left: 19%;
  font-size: 25px;
}

.CE{position: absolute;
  top: 45%;
  left: 46%;
  font-size: 25px;
text-decoration: underline;}

.UEBF{
position: absolute;
  top: 48%;
  left: 47%;
  font-size: 25px;
text-decoration: underline;}

.GF{position: absolute;
  top: 51%;
  left: 46%;
  font-size: 25px;
text-decoration: underline;

}

.vous{
  position: absolute;
  top: 54%;
  left: 19%;
  font-size: 25px;
}

.ES{ position: absolute;
  top: 60%;
  left: 46%;
  font-size: 25px;

}

.ETSF{
  position: absolute;
  top: 63%;
  left: 46%;
  font-size: 25px;

}

.reportage{  position: absolute;
  top: 66%;
  left: 19%;
  font-size: 25px;

}

.ARTE{
   position: absolute;
  top: 72%;
  left: 49%;
  font-size: 25px;

}

.Minute{
  position: absolute;
  top: 75%;
  left: 48%;
  font-size: 25px;
}