.hidden {
  display: none;
  
}

.password-requirements {
color:red;
}
.savanier {
color:green;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d7e6f0
}

.contenant {
  width: 600px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 35px;
}

.input-box input {
  width: 90%;
  border: 2px solid gray; 
  border-radius: 10px;
  padding: 12px 20px;
  margin-bottom: 15px; 
  font-size: 16px;
  background: rgba(255, 255, 255, 0.9);
  color: #000;
  outline: none;
}

.input-box input:focus {
  border-color: black;
}


.envoyer {
  display: block;
  width: 100%;
  background: black;
  color: white;
  border: none;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 600;
  height: 45px;
  cursor: pointer;
}

.envoyer:hover {
  background: #333;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'Lexend Exa';font-size: 15px;
}

.input-box p {
  margin-bottom: 15px; 
}
h1{
     position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: #2c33b3;
  font-family: 'Lexend Tera';
  font-size: 40px;}
