.hidden {
  display: none;
  
}

.password-requirements {
color:red;
}
.savanier {
color:green;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:black;
  background-size: cover;
  background-position: center;
}

.contenant {
  width: 400px;
  background-color : white;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(13px);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px 35px;
}

.envoyer {
  display: inline-block;
  background: black;
  color: white;
  width: 100%;
  border-radius: 30px;
  font-size: 16px;
  height: 45px;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;

}

.contenant .input-box input {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  padding: 20px 45px 20px 20px;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.8);
  color: #000; /* texte noir */
}

