* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #971515;
    color: #333;
    position: relative;
}   

a {
    cursor: pointer;
}



.container {
    width: 80%;
    max-width: 900px;
    margin: 80px auto 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#title_src {
    color: #2c33b3;
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Lexend Tera', sans-serif;
    margin-top: -70px;
}

h3 {
    color: #2c33b3;
    font-size: 35px;
    margin-top: 40px;
    font-family: 'Lexend Tera', sans-serif;
}

p {
    font-size: 22px;
    line-height: 1.4;
}


.list {
  text-align: center;
    list-style: none;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list a {
    color: #131212;
    font-size: 24px;
    text-decoration: underline;
}


