h1 {
    text-align: center;
    color :#2c33b3;
    font-family: 'Lexend Tera';
    font-size: 40px;
}


body{
    background-color: #d7e6f0;
    height: 100vh;
    border:blue solid 2px;

}

footer{
    bottom: 0px;
}

#contenue{
    display: relative;
    border:red solid 2px;
}

#graphique {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 77%;
  padding: 10px 20px;
  margin-top: 20px;
}
#filters {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 17%;
  background-color: #4B7AB1;
  border-radius: 15px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
#filters h3 {
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 1px solid #444DFF;
  padding-bottom: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}
#pays {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px 10px;
}
#indicateurs label, #pays label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 0.95em;
  background-color: #A0C9E5;
  border-radius: 5px;
}
#indicateurs label {
    margin-top: 5px;
}
#vide {
  color: red;
  text-align: center;
}