
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    position: relative;
}   

a {
    cursor: pointer;
    text-decoration: none;
}

#header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #588BAD;
    border-bottom: 2px solid #8d8f9d;
    color:#2C33B3;
    height: 40px;
}

#header-content img{
    height: 45px;
}

#menu-ferme {
    height: 35px;
}

#menu-ouvert{
    display:none;
    position: fixed;
    width: 400px;
    height: 550px;
    position: absolute;
    background-color: #588BAD;
    border-radius: 8px;
    margin-top: -40px;
    z-index: 3;
}


#menu-header {
    display: flex;
}

#img_menu_ouvert {
    height: 45px;
    padding: 15px;
}

#title-Menu {
    font-size: 45px;
    font-weight: bold;
    color: #0a0a0a;
    margin-left: 85px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
    height: 60px;
}

#menu-ouvert ul {
    margin : 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#menu-ouvert ul li {
    list-style: none;
    margin: auto;
}

#menu-ouvert ul li a {
    font-size: 25px;
    color: #021720;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #588BAD;
    border-top: 2px solid #8d8f9d;
    width: 100%;
    height: 80px;
}

footer a{
    text-decoration: none;
    color: white;
    -webkit-text-stroke: 0.2px black; /* Bordure noire autour du texte */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

footer ul{
    display: block;
    list-style: none;
    font-style: italic;
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

footer li{
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 2px;
    font-size: small;
}

footer h2{
    color: #f4f4f4;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

footer img{
    height: 60px;
    padding-left: 20px;
}








