
* {
    margin: 0;
    padding: 0;
}

.Mot{
    text-decoration: underline;
     font-family: 'Lexend Peta';
     font-size: 22px;
}

h1{
    text-align: center;
    color :#2c33b3;
  font-family: 'Lexend Tera';
  font-size: 40px;
}

body{
    background-color: #d7e6f0;
}

.boite_definitions {
  position: relative;
  background-color: #a5cce6; 
  border-radius: 15px; 
  padding: 25px; 
  margin: 20px auto; 
  width: 60%; 
  line-height: 1.6;
}

.petit {
  position: absolute;
  top: 9%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 10; 
   width: 7.5%;   
  height: auto;
}

.definition{
    font-family: 'Lexend Peta';
    font-size: 22px;
}


